services:
  web:
    image: nginxinc/nginx-unprivileged:1.27-alpine
    ports:
      - "3080:8080"
    environment:
      APP_MEMPOOL_IP: mempool-proxy
      APP_MEMPOOL_PORT: "80"
    volumes:
      - ./out:/usr/share/nginx/html:ro
      - ./umbrel/nginx.conf.template:/etc/nginx/templates/default.conf.template:ro
    depends_on:
      - mempool-proxy

  mempool-proxy:
    image: nginx:1.27-alpine
    volumes:
      - ./umbrel/test-mempool-proxy.conf:/etc/nginx/conf.d/default.conf:ro
